/* 
    Document   : newCascadeStyleSheet
    Created on : Aug 5, 2009, 9:44:02 PM
    Author     : user
    Description:
        Purpose of the stylesheet follows.
*/

/* 
   TODO customize this sample style
   Syntax recommendation http://www.w3.org/TR/REC-CSS2/
*/

root { 
    display: block;
}

