
/* Adapted from CodeIgniter's documentation
   simplified to remove tables
   revised
   Dr. Y Lazarides November 2013
   Used for top navigation
   hidden menu
*/

#nav {
 background-color: #5d5d5d;
 margin: 0;
 padding: 0;
}

/* Placer for toggle image
   for `hidden menu`
*/
#nav2 {
    background: #fff url(nav_bg.jpg) repeat-x left top; /*? need to correct*/
    padding: 0 50px 0 0;
    margin: 0;
    text-align: right;
}

 #nav_inner2, .nav_inner {
 background-color: transparent;
 padding: 8px 12px 0 20px;
 margin: 0;
 font-family: 'Lucida Grande', Verdana, Geneva, Sans-serif;
 font-size: 11px;
}

.nav_inner h3, #nav_inner2 h3 {
 font-size: 12px;
 color: #fff;
 margin: 0;
 padding: 0;
}

/*
#nav_inner .td_sep {
 background: transparent url(nav_separator.jpg) repeat-y left top;
 width: 20%;
 padding: 0 0 0 10px;
}
#nav_inner .td {
 width: 25%;
}
*/

.nav_inner p {
 color: #eee;
 background-color: transparent;
 padding:0;
 margin: 0 0 10px 0;
}


.nav_inner ul, .nav_inner ol, #nav_inner2 ol {
 list-style-image: url(arrow.gif);
 padding: 0 0 0 18px;
 margin: 8px 0 12px 0;
}

.nav_inner li, #nav_inner2 li {
 padding: 0;
 margin: 0 0 6px 0;
}

.nav_inner a:link, #nav_inner2 a:link {
 color: #fff;
 background-color: transparent;
 text-decoration: none;
 font-weight: normal;
}

.nav_inner a:visited, #nav_inner2 a:visited {
 color: yellow;
 background-color: transparent;
 text-decoration: none;
}

.nav_inner a:hover {
 color: #fff;
 text-decoration: none;
 background-color: transparent;
}

#masthead {
 margin: 0 40px 0 35px;
 padding: 0 0 0 6px;
 border-bottom: 1px solid #999;
}

#masthead h1 {
background-color: transparent;
color: #003399;
font-size: 18px;
font-weight: normal;
margin: 0;
padding: 0 0 6px 0;
}

#content .tableborder {
 border: 1px solid #999;
}

#content th {
 font-weight: bold;
 text-align: left;
 font-size: 12px;
 background-color: #666;
 color: #fff;
 padding: 4px;
}

#content .td {
 font-weight: normal;
 font-size: 12px;
 padding: 6px;
 background-color: #f3f3f3;
}



#content .critical {
 background: #FBE6F2;
 border: 1px solid #E68F8F;
 color: #333;
 margin: 10px 0 5px 0;
 padding: 10px;
}


img {
 padding:0;
 border: 0;
 margin: 0;
}





ol {
 list-style-image: url(images/arrow.gif);
 padding: 0 0 0 18px;
 margin: 8px 0 12px 0;
}

 ol.test2 li {
 padding: 0;
 margin: 0 0 6px 0;
}

ol.test2 li p {
 margin-left: 0;
 margin-right: 0;
}

.menu-column{padding:0;width:19%;float:left;margin-right:7px}
.menu-column img{width:100%}

.menu-column p{width:95%;display:block;margin:0 auto}
.menu-column ul li{padding-right:13px;line-height:1.2;text-indent:0.1em}
.menu-column ul {list-style-type: none;
     margin: 0;
     padding: 0;
     margin-bottom:8px;
  }
 .menu-column ol {
     margin-left: 0px;
     width:90%;
  }

 



.menu-column{padding:0;width:18%;float:left;padding:7px;margin-right:2px;border:1px solid #afafaf;
    color:#ffffff}
.menu-column img{width:100%}
.menu-column p{width:97%;display:block;float:none;margin-left:7px}
.menu-column ul li{padding-right:13px;line-height:1.2;text-indent:0.1em}
.menu-column ul {list-style-type: none;
    margin: 0;
    padding: 0;
    margin-bottom:8px;
}
.menu-column ol {
    margin-left: 0px;
    width:98%;
   /* border:1px solid #fff; */
}

.menu-column li {
    font-family:verdana;
    margin-bottom: 0;
    padding-bottom: 0;
    margin-left:5px;
    padding-right:0px;
    font-size:13px;
    color:#fff;
}

.menu-column  h3{font-size:13px;border:1px solid #fff}






